:root
{
    --color-primary: ;
    --color-secondary: ;
    --color-primary: ;
    --color-primary: ;
    --color-primary: ;
    --color-primary: ;
    --color-primary: ;
    --color-primary: ;
}